body {
    font-family: 'Noto Sans Thai', sans-serif;
    background: #f6f6f6;
}
.row{
    width: 100%;
}
.left{
    width: 50%;
    height: 100%;
    margin: 8% 0 5% 5%;
    background-color: white;
    padding: 100px 50px 100px 50px;
    border-radius: 20px;
}
.right{
    width: 30%;
    height: 100%;
    margin: 15% 0 5% 5%;
    background-color: black;
    padding: 100px 50px 100px 50px;
    border-radius: 20px;
    color: white;
    box-shadow: 5px red;
}
img{
    position: absolute;
    left: 73%;
    top: 30.5%;
}

