body {
    font-family: 'Noto Sans Thai', sans-serif;
    background: #f6f6f6;
}
.row{
    width: 100%;
}
.left{
    width: 800px;
    height: 100%;
    margin: 8% 0 5% 5%;
    background-color: white;
    padding: 100px 50px 100px 50px;
    border-radius: 20px;
}
.right{
    width: 600px;
    height: 350px;
    left: 57%;
    top: 30.5%;
    position: absolute;
    /* margin: 15% 0 5% 5%; */
    background-color: black;
    padding: 100px 50px 100px 50px;
    border-radius: 20px;
    color: white;
}
img{
    position: absolute;
    left: 50%;
    top: 5%;
}

