table,th ,td{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    width: auto;
    height: auto;
}
table{
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}
.not{
    color: rgb(233, 124, 0);
}
body{
    font-family: 'Rubik', sans-serif;
    display: flex;
}